*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
body{
    
    height:100vh;
    background-image: url(second.jpg);
    background-position:center;
    padding:2rem 2rem;
    overflow:hidden;
    background-size:cover;
    
    


}
.nav{
    padding:0rem;
    display:flex;
    align-items:center;
    justify-content:space-between;
    
}
.logo{
    width:20rem;
    font-size:3rem;
    color:rgba(64, 42, 90, 0.562)

}
ul {
    display:flex;
    list-style:none;
    
}
li{
    margin: 2rem 3rem;
    
}
.login-btn{
    text-decoration:none;
    color:#333;
    margin-right:rem;
    font-weight:400;

}

.btn{
    display:inline-block;
    text-decoration: none;
    padding: 1rem 1.4rem;
    color:#fff;
    background-image:linear-gradient(45deg,#df4881,#c430d7);
    font-size:2rem;
    border-radius:7rem;
    border-top-right-radius:0;

}
.btn:hover{
    color:green;
    background-color:geern;
}
.content{
    margin-top:1.5rem;
    max-width:80rem;

}
.content h1{
    font-size:5rem;
    color:#222;

}
.content p{
    margin:1.5rem 0 3rem;
    color:#333;

}
.content btn{
    padding:2rem 3rem;
    font-size:3rem;

}

}
}
.imge{
    height:90rem;
    width:90rem;
    
    position:absolute;
    
    bottom:0;
    right:10%;
}
.container{
    display:grid;
    grid-template-columns:1 fr 1fr;
    grid-template-rows: 1fr;

}
.content{
    margin-top:15rem;
    grid-column-start: 1;
    grid-column-end:2;
}
.imge{
    grid-column-start:2;
    grid-column-end:3;
    height:45rem;
    width:45rem;

}

}